<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.branch.platform.report.mapper.RptSavedQueryMapper">

    <resultMap id="BaseMap" type="com.bank.branch.platform.report.entity.RptSavedQuery">
        <id     column="id"            property="id"/>
        <result column="emp_id"        property="empId"/>
        <result column="name"          property="name"/>
        <result column="dim"           property="dim"/>
        <result column="subject_ids"   property="subjectIds"/>
        <result column="metric_codes"  property="metricCodes"/>
        <result column="version"       property="version"/>
        <result column="created_time"  property="createdTime"/>
        <result column="updated_time"  property="updatedTime"/>
    </resultMap>

    <sql id="BASE_COLUMNS">
        id, emp_id, name, dim, subject_ids, metric_codes, version, created_time, updated_time
    </sql>

    <insert id="insert">
        INSERT INTO rpt_saved_query (<include refid="BASE_COLUMNS"/>)
        VALUES (#{id}, #{empId}, #{name}, #{dim}, #{subjectIds}, #{metricCodes},
                #{version}, #{createdTime}, #{updatedTime})
    </insert>

    <select id="selectById" resultMap="BaseMap">
        SELECT <include refid="BASE_COLUMNS"/>
          FROM rpt_saved_query
         WHERE id = #{id}
    </select>

    <select id="countByEmpId" resultType="int">
        SELECT COUNT(*)
          FROM rpt_saved_query
         WHERE emp_id = #{empId}
    </select>

    <update id="updateByIdSelective">
        UPDATE rpt_saved_query
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="dim != null">dim = #{dim},</if>
            <if test="subjectIds != null">subject_ids = #{subjectIds},</if>
            <if test="metricCodes != null">metric_codes = #{metricCodes},</if>
            <if test="version != null">version = #{version},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM rpt_saved_query WHERE id = #{id}
    </delete>

    <select id="listByEmpAndDim" resultMap="BaseMap">
        SELECT <include refid="BASE_COLUMNS"/>
          FROM rpt_saved_query
         WHERE emp_id = #{empId}
        <if test="dim != null and dim != ''">
            AND dim = #{dim}
        </if>
         ORDER BY created_time DESC
    </select>

    <select id="findOldestId" resultType="string">
        SELECT id FROM rpt_saved_query
         WHERE emp_id = #{empId}
         ORDER BY created_time ASC LIMIT 1
    </select>

    <update id="updateWithOptimisticLock">
        UPDATE rpt_saved_query
        <set>
            <if test="param1.name != null">name = #{param1.name},</if>
            <if test="param1.dim != null">dim = #{param1.dim},</if>
            <if test="param1.subjectIds != null">subject_ids = #{param1.subjectIds},</if>
            <if test="param1.metricCodes != null">metric_codes = #{param1.metricCodes},</if>
            version = version + 1,
            updated_time = NOW()
        </set>
        WHERE id = #{param1.id}
          AND version = #{expectedVersion}
    </update>

</mapper>
